* {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-image: url(../images/veggiesOnChoppingBoard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h1,
h2 {
  background-color: rgba(0, 128, 0, 0.8);
  border-radius: 2vmin;
  border: 4px solid orange;
  font-family: 'Libre Baskerville', serif;
}
img {
  max-width: 100%;
  height: auto;
  margin: 2vmin 0;
  box-shadow: 0 0 2vmin rgba(255, 255, 255, 1);
}
img,
li,
.intro {
  border: 1px solid white;
  border-radius: 5vmin;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  width: 95vw;
  margin: 1vmin auto;
}

li {
  font-size: 1.25rem;
  margin: 1vmin;
  padding: 2vmin;
  list-style: none;
  text-shadow: 1px 1px 3px white;
  font-family: 'Proza Libre', sans-serif;
}
li li {
  background-color: rgba(0, 255, 0, 0.4);
  color: white;
  text-shadow: 1px 1px 3px black;
}

p {
  white-space: pre-wrap;
  padding: 1vmin;
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  max-width: 45ch;
}
/* shift bg to left in smartphone screens(long yet thin) */
@media screen and (max-width: 60vh) {
  body {
  background-position: 25%;
}
}